.row
    .col-md-12
        .tabbable
            ul.nav.nav-tabs
                each file, i in files
                    - var liClass = (i === 0 ? 'active' : '');
                    li(class=liClass): a(data-toggle='tab', href='#styler_file_tab_' + i, aria-expanded='true')
                        i.color-green-500.tab-icon.fa.fa-pencil-square-o
                        |  #{file}
            .tab-content.p-n
                each file, iFile in files
                    div.tab-pane.fade(id='styler_file_tab_' + iFile, class=(iFile === 0 ? 'active in':''))
                        table.table.table-hover.table-condensed.table-striped.table-codex.styler-table
                            thead: tr
                                th(width="70").text-center D
                                th Variable
                                th Value
                            tbody
                                each variable in vars.tree[file]
                                    tr(data-styler-var=variable)
                                        td.text-center
                                            if variable.default
                                                a.styler-var-default.mr-sm(href='javascript:;'): i.fa.fa-check.color-green-500
                                            if variable.overides
                                                a.styler-var-overides.mr-sm(href='javascript:;'): i.fa.fa-floppy-o.color-orange-500
                                            if variable.overidden
                                                a.styler-var-overidden.mr-sm(href='javascript:;'): i.fa.fa-remove.color-red-400

                                        td: span.scss-variable-name= variable.name
                                        td
                                            if variable.overidden
                                                span.scss-variable-value= variable.value
                                            else
                                                a(id=variable.name, data-type=variable.type, data-scss-file-name=file).scss-variable-value= variable.value


